# This file lists the main dependencies
#
# To create a proper requirements.txt, use pip-tools:
#
#    python -m piptools compile requirements.in
#
# (you may need to install piptools first by running 'pip install pip-tools')

fastapi 
uvicorn

numpy
pandas
requests

munch

tika
pdfminer.six